<%= form_for(channel) do |f| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Holding" %>
    <% options = options_from_collection_for_select @holding ,:id, :display_holding %>
    <%= select_tag "holding", options, prompt: "Seleccionar Holding"  %>
  </div>

  <div class="field">
    <%= f.label :empresa_id %>
    <%= f.collection_select :enterprise_id,{},:id,:display_empresa, prompt: "Seleccionar Empresa"  %>
  </div>

  <div class="field">
    <%= f.label :display_canal %>
    <%= f.text_field :display_canal %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
