<p id="notice"><%= notice %></p>

<h1>Canales</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Empresa</th>
      <th>Nombre canal</th>
      <th>Display canal</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.id %></td>
        <td><%= channel.empresa_id %></td>
        <td><%= channel.nombre_canal %></td>
        <td><%= channel.display_canal %></td>
        <td><%= link_to 'Mostrar', channel %></td>
        <td><%= link_to 'Editar', edit_channel_path(channel) %></td>
        <td><%= link_to 'Eliminar', channel, method: :delete, data: { confirm: 'Desea eliminar este registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Canal', new_channel_path %>
