<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @channel.id %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= empresa = Enterprise.find_by id: @channel.enterprise_id
  empresa.display_empresa %>
</p>

<p>
  <strong>Nombre canal:</strong>
  <%= @channel.nombre_canal %>
</p>

<p>
  <strong>Display canal:</strong>
  <%= @channel.display_canal %>
</p>

<%= link_to 'Editar', edit_channel_path(@channel) %> |
<%= link_to 'Regresar', channels_path %>
