<%= form_for(service) do |f| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :servicio_id %>
    <%= f.number_field :servicio_id %>
  </div>

  <div class="field">
    <%= f.label :canal_id %>
    <%= f.number_field :canal_id %>
  </div>

  <div class="field">
    <%= f.label :nombre_servicio %>
    <%= f.text_field :nombre_servicio %>
  </div>

  <div class="field">
    <%= f.label :display_servicio %>
    <%= f.text_field :display_servicio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
