<p id="notice"><%= notice %></p>

<p>
  <strong>Servicio:</strong>
  <%= @service.servicio_id %>
</p>

<p>
  <strong>Canal:</strong>
  <%= @service.canal_id %>
</p>

<p>
  <strong>Nombre servicio:</strong>
  <%= @service.nombre_servicio %>
</p>

<p>
  <strong>Display servicio:</strong>
  <%= @service.display_servicio %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
