<%= form_for(type) do |f| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_id %>
    <%= f.number_field :tipo_id %>
  </div>

  <div class="field">
    <%= f.label :servicio_id %>
    <%= f.number_field :servicio_id %>
  </div>

  <div class="field">
    <%= f.label :nombre_tipo %>
    <%= f.text_field :nombre_tipo %>
  </div>

  <div class="field">
    <%= f.label :display_tipo %>
    <%= f.text_field :display_tipo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
