<%= form_for(segment) do |f| %>
  <% if segment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(segment.errors.count, "error") %> prohibited this segment from being saved:</h2>

      <ul>
      <% segment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :segmento_id %>
    <%= f.number_field :segmento_id %>
  </div>

  <div class="field">
    <%= f.label :agrupacion_id %>
    <%= f.number_field :agrupacion_id %>
  </div>

  <div class="field">
    <%= f.label :nombre_segmento %>
    <%= f.text_field :nombre_segmento %>
  </div>

  <div class="field">
    <%= f.label :display_segmento %>
    <%= f.text_field :display_segmento %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
