<p id="notice"><%= notice %></p>

<h1>Empresas</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Holding</th>
      <th>Nombre empresa</th>
      <th>Display empresa</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @enterprises.each do |enterprise|
        holding = @holding.find_by id: enterprise.holding_id
    %>
      <tr>
        <td><%= enterprise.id %></td>
        <td><%= holding.display_holding %></td>
        <td><%= enterprise.nombre_empresa %></td>
        <td><%= enterprise.display_empresa %></td>
        <td><%= link_to 'Mostrar', enterprise %></td>
        <td><%= link_to 'Editar', edit_enterprise_path(enterprise) %></td>
        <td><%= link_to 'Eliminar', enterprise, method: :delete, data: { confirm: 'Desea eliminar este registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Empresa', new_enterprise_path %>
