<%= form_for(subservice) do |f| %>
  <% if subservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subservice.errors.count, "error") %> prohibited this subservice from being saved:</h2>

      <ul>
      <% subservice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subservicio_id %>
    <%= f.number_field :subservicio_id %>
  </div>

  <div class="field">
    <%= f.label :tipo_id %>
    <%= f.number_field :tipo_id %>
  </div>

  <div class="field">
    <%= f.label :nombre_subservicio %>
    <%= f.text_field :nombre_subservicio %>
  </div>

  <div class="field">
    <%= f.label :display_subservicio %>
    <%= f.text_field :display_subservicio %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
